[Desktop Entry]
Name=LunaSea Next
Comment=Self-hosted software controller built using Flutter
Exec=lunasea
Icon=${SNAP}/meta/gui/lunasea.png
Terminal=false
Type=Application
Categories=Utilities;Entertainment;
